
body{
    background-image: url("../assets/background.jpg");
    opacity: 0.95;
    filter: alpha(opacity=95);
    
}
    
#tiff-table th,
 td {
    display: inline-block;
    width: 25%;

 }


 #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }